.container{
    border: 1px solid rgb(227, 225, 225);
    box-shadow: 3px  5px 10px rgb(190, 189, 189) ;
    border-radius: 5px;
    width: 90%;
    height: 700px;
    margin: 80px auto auto 80px;
// padding: 10px 70px 90px 70px;
padding: 20px 80px 100px 80px;
h5{
    color: rgb(93, 94, 94);
    margin-bottom: 50px;
}
h2{
    font-size: 40px;
}
}