.p-inputtext-sm{
    width: 100%;
}
.container{
    width: 60%;
    margin: 50px 0 0 250px  
}
.time{
position: relative;
left: 600px;
bottom: 50px;
}
button{
    display: inline;
    width: 80px;

}